# Logs
logs/
*.log
*-debug.log*
*-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm/
*.tgz

# dotenv environment variable files
.env
.*.local

# vite build output
dist/
dist-ssr/

# temp and cache directory
.temp/
.cache/

# yarn v2
.yarn/*
!.yarn/patches
.pnp.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? # vim temp files

# Misc.
.DS_Store
*~
*.bak
._*
Thumbs.db
