/* Variables */
:root {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-sans:
    system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --font-size: 12px;
  --line-height: 1.25;
  --body-color: #6a6a6a;
  --body-bg: #fafafa;

  --btn-border: #d1d2d3;
  --btn-color: #24292e;
  --btn-bg: linear-gradient(#fafbfc, #e4ebf0);
  --btn-hover-bg: #e6ebf1 linear-gradient(#f0f3f6, #dce3ec);
  --btn-hover-border: #afb1b2;
  --btn-active-bg: #e9ecef none;
  --btn-active-border: #afb1b2;
  --btn-active-shadow: #1b1f2326;
  --btn-disabled: #afb1b2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #6a6a6a;
    --body-bg: #fafafa;

    --btn-border: #d1d2d3;
    --btn-color: #24292e;
    --btn-bg: linear-gradient(#fafbfc, #e4ebf0);
    --btn-hover-bg: #e6ebf1 linear-gradient(#f0f3f6, #dce3ec);
    --btn-hover-border: #afb1b2;
    --btn-active-bg: #e9ecef none;
    --btn-active-border: #afb1b2;
    --btn-active-shadow: #1b1f2326;
    --btn-disabled: #afb1b2;
  }
}

/* Normalize */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--body-color);
  background-color: var(--body-bg);
  height: 100vh;
}

details,
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--line-height);
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type='radio'],
[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}

legend,
fieldset {
  padding: 0;
  border: 0;
}
fieldset {
  margin: 0;
  min-width: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

template,
[hidden] {
  display: none;
}

/* Layout */
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn {
  font-size: 0.93em;
  line-height: 1.63;
  padding: 0 0.45em;
  border: 1px solid var(--btn-border);
  color: var(--btn-color);
  background-image: var(--btn-bg);
  font-weight: 600;
  border-radius: 0.25em;
  cursor: pointer;
}
.btn:hover {
  background: var(--btn-hover-bg);
  border-color: var(--btn-hover-border);
}
.btn:active {
  background: var(--btn-active-bg);
  border-color: var(--btn-active-border);
  box-shadow: inset 0 0.15em 0.3em var(--btn-active-shadow);
}
.btn:disabled {
  color: var(--btn-disabled);
  pointer-events: none;
}
